astroid==4.0.4
black==26.1.0
click==8.3.1
coverage==7.13.4
dill==0.4.1
iniconfig==2.3.0
isort==8.0.1
librt==0.8.1
mccabe==0.7.0
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
pluggy==1.6.0
Pygments==2.19.2
pylint==4.0.5
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
pytest==9.0.2
pytest-cov==7.0.0
pytokens==0.4.1
shiboken6==6.10.2
tomlkit==0.14.0
typing_extensions==4.15.0
