DATABASE_URL=postgresql+psycopg2://zhdanova:postgres_password@localhost:5432/menutor_db
POSTGRES_USER=zhdanova
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=menutor_db
JWT_SECRET_KEY=some_awesome_key
API_URL=http://localhost:8000
